[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dapr"]
	path = dapr
	url = https://github.com/mkearney/dapr
[submodule "funique"]
	path = funique
	url = https://github.com/mkearney/funique
[submodule "googler"]
	path = googler
	url = https://github.com/mkearney/googler
[submodule "pkgverse"]
	path = pkgverse
	url = https://github.com/mkearney/pkgverse
[submodule "textfeatures"]
	path = textfeatures
	url = https://github.com/mkearney/textfeatures
[submodule "tfse"]
	path = tfse
	url = https://github.com/mkearney/tfse
[submodule "wactor"]
	path = wactor
	url = https://github.com/mkearney/wactor
